
table.dataTable.no-footer {
    width: 100% !important;
    border-bottom: none !important;
}

.dataTables_wrapper .dataTables_paginate {
    font-size: 11px !important;
}

.dataTables_wrapper .dataTables_info {
    font-size: 11px;
}